<div class="" net-data="{{network.name}}">
    <ul>
        <li>Name: {{network.name}}</li>

        <li class="status">Status:
            {% if network.status == 0 %}
            <div class="led-blue"></div>
            {% elif network.status == 1 %}
            <div class="led-yellow"></div>
            {% elif network.status == 2 %}
            <div class="led-red"></div>
            {% elif network.status == 3 %}
            <div class="led-green"></div>
            {% endif %}
        </li>

        <li>Iterations completed: {{network.iterations_completed}}</li>
        <li>Training accuracy: {{network.training_accuracy}}</li>
        <li>Validation accuracy: {{network.validation_accuracy}}</li>
        <li>Validation loss: {{network.validation_loss}}</li>

        <li>
            {% if network.status == 1 %}
            <button id="stop_{{network.name}}">stop training network</button>
            {% endif %}
            <button id="test_{{network.name}}">testing network</button>
        </li>
    </ul>
</div>
<div class="testingResults">
    <h3>{{network.name}} testing results:</h3>
    <span class="score"></span>
    <div class="loader"><div>
</div>
