{% extends "base.html" %}
{% load static %}
{% block header %}Apply{% endblock %}
{% block head %}
{% block javascript %}
<script src="{% static 'scripts/apply.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">{% endblock %}

{% endblock %}
{% block content %}
<div>
    <form class="row" id="uploadimage" action="" method="post" enctype="multipart/form-data">
        <div class="col-sm-5">
            <div class="form-group well" style="margin: 10px;">

                <div >
                    <label class="control-label" for="selectFiles">Select File:</label>
                    <input id="selectFiles" type="file" class="file btn" name="myfile">
                </div>
                <div style="margin: 10px;">
                    <label class="control-label">Choose network:</label><br>
                    <select id="network_select" class="selectpicker">
                        {% for net in networks %}
                        <option value="{{net.name}}">{{net.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="margin: 10px;">
                    <button id="submit" type="submit" class="btn">Submit</button>
                </div>

            </div>
        </div>
        <div class="col-sm-7">
            <img id="image" src="" style="width:304px;height:228px;">
        </div>
    </form>
    <div class="row">
        <div class="well col-sm-5" id="pred_place" style="margin: 20px;">
            <label>result:</label>
            <div class="loader" style="display: none"></div>

        </div>
    </div>
</div>


{% endblock %}


