{% extends "base.html" %}
{% load static %}
{% block header %}Apply{% endblock %}
{% block head %}
{% block javascript %}
<script src="{% static 'scripts/apply.js' %}"></script>{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
{% endblock %}
{% block content %}
<div>
    <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
        <div class="col-sm-5">
            <div class="form-group well">

                <div style="margin: 10px;">
                    <label class="control-label" for="selectFiles">Select File:</label>
                    <input id="selectFiles" type="file" class="file btn" name="myfile">
                </div>
                <div style="margin: 10px;">
                    <select class="selectpicker btn">
                        <option>alexNet</option>
                        <option>imageNet</option>
                        <option>runing</option>
                    </select>
                </div>
                <div style="margin: 10px;">
                    <button id="submit" type="submit" class="btn">Submit</button>
                </div>

            </div>
            <!--<div>-->
                <!--<div id="pred" class="well">-->
                      <!--<div id="image_preview"><img id="previewing" src="noimage.png"/></div>-->
                    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;{% for key, value in classes.items %}&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>{{key}}: {{value}}</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->

                    <!--&lt;!&ndash;&lt;!&ndash;{% for net in networks %}&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;{% include "_networks.html" with network=net only %}&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;{% endfor %}&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div id="image" class="col-sm-7">
        </div>
    </form>
</div>



{% endblock %}


