{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>JCE Final Project - Classification objects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }


        </style>
        {% block javascript %}{% endblock %}
        {% block css %}{% endblock %}

    </head>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="container text-center">
            <h2>JCE Final Project - Classification objects</h2>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Option</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class={{deshboardActive}}>
                    <a href="/">Deshboard</a>
                </li>
                <li class="{{trainingActive}}">
                    <a href="/train">Training</a>
                </li>
                <li class="{{applyActive}}">
                    <a href="/apply">Apply</a>
                </li>
                <li class="{{visualitionActive}}">
                    <a href="/visualition">Visualition</a>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-sm-9">
            <h2>{% block header %}{% endblock %}</h2>
            <div class="row">
                {% block content %}{% endblock %}
            </div>


        </div>
    </div>
</div>
</body>
</html>