{% extends "base.html" %}
{% load static %}

{% block header %}Deshboard{% endblock %}
{% block javascript %}
<script src="{% static 'scripts/deshboard.js' %}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/indicator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/deshboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="networks">
        <h3>Available trained networks</h3>
        {% for net in networks %}
        <div class="network well">
            {% include "_networks.html" with network=net only %}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}