{% extends "base.html" %}
{% load static %}
{% block header %}Training new Network{% endblock %}
{% block head %}<script src="{% static 'scripts/training.js' %}"></script>{% endblock %}
{% block content %}


<div>
    <div class="well">
        <form id="trainNetwork" class="form" action="">
            <label class="control-label">Upload network configuration</label>
            <input id="input-1" type="file" class="file">
            <button id="start">start training</button>
        </form>
    </div>
    <div id="networkDetails">

    </div>
</div>


{% endblock %}