{% extends "base.html" %}
{% load static %}
{% block header %}Visualition{% endblock %}
{% block javascript %}
<!--<script src="{% static 'scripts/gallery.js' %}"></script>-->
<script src="{% static 'scripts/visualition.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
{% endblock %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">-->
{% endblock %}
{% block content %}


<div>
    <form class="row" id="uploadimage">
        <div class="col-sm-6">
            <div class="form-group well" style="margin: 10px;">
                <div>
                    <div>
                        <label class="control-label">Select File:</label>
                        <input id="selectFiles" type="file" class="file" name="myfile">
                    </div>
                </div>
                <div>
                    <label class="control-label">Choose network:</label>
                    <select id="network_select" class="selectpicker">
                        {% for net in networks %}
                        <option value="{{net.name}}">{{net.name}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div>
                    <label class="control-label">Choose layer:</label>
                    {% for net in networks %}
                    <select id="layer_select" name="{{net.name}}" class="selectpicker layers">
                        {% for name in net.conv_layers %}
                        <option>{{name}}</option>
                        {% endfor %}
                    </select>
                    {% endfor %}

                </div>
                <div>
                    <label class="control-label">Choose step:</label>
                    <select class="selectpicker" id="select-step">
                    </select>
                </div>
                <div>
                    <button id="submit" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img id="image" src="" style="width:304px;height:228px;">
        </div>
    </form>
    <div class="loader_visual" style="display: none"></div>
    <div id="image_place" class="row" style="margin: 10px;">

    </div>
</div>


{% endblock %}

